@media screen and(max-width:500px) {
  .container {
    &-card {
      &:nth-of-type(4) {
        order: -2;
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .container {
    &-card {
      
      &:nth-of-type(2),
      &:nth-of-type(3) {
        order: 1;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 86vw;
    justify-content: flex-start;
    align-items: flex-start;

    &-card {
      width: 100vw;
      .img {
        &::after {
          padding: 1px;
          height: 2.4em !important;
          width: 2.4em !important;
        }
      }
      .card {
        &-remark__bold {
          h2 {
            max-width: 100%;
            padding: 1em 1.5em;
            margin: 0 auto;
          }
        }
      }
      &:nth-of-type(1) {
        flex-basis: 34vw;
        flex-grow: 2;
        order: -4;
      }
      &:nth-of-type(2) {
        order: -1;
        flex-basis: 14vw;

        .text {
          p {
            transform: translateY(-6px);
          }
        }
        h2 {
          padding: 0.6em;
        }
        p {
          padding: 0.6em;
        }
      }

      &:nth-of-type(3) {
        flex: 0.25 0 3vw;
        transform: translateY(-43vh);
      }
      &:nth-of-type(4) {
        transform: translateY(-43vh);
        flex: 0.3 0 22vw;
      }
      &:nth-of-type(5) {
        flex: 0.3 0 17vw;
        margin-right: 10vh;
        order: -1;
        h2 {
          width: 80%;
        }
        p {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (min-width: 1034px) and (max-width: 1060px) {
  .container-card {
    &:nth-of-type(4),
    &:nth-of-type(3) {
      transform: translateY(0vh) !important;
    }
  }
}

@media screen and(min-width:1300px) and(max-width:1350px) {
  .container-card {
    &:nth-of-type(4),
    &:nth-of-type(3) {
      transform: translateY(-30vh);
    }
  }
}
